<!DOCTYPE html>

<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/header %>

	<main role="main">
		<h2>Welcome!</h2>
		<p>This application lets you find and rent grills in your area at an affordable price.</p>
		<p><a href="/register">Create an account</a> to get started.</p>
	</main>

	<% include ../partials/footer %>

</body>

</html>