<!DOCTYPE html>

<html lang="en">

<head>
    <% include ../partials/head %>

    <script src="/scripts/page-register.js"></script>
</head>

<body>

	<% include ../partials/header %>

	<main>
        <h2>Create an Account</h2>

		<p style="color: #777;">Or <a href="/login">login</a> if you already have an account.</p>

        <form class="gb-register">
            <label for="gb-register-email"><span>Email </span><input type="text" id="gb-register-email" placeholder="my@email.com" required/></label>
            <label for="gb-register-password"><span>Password </span><input type="password" id="gb-register-password" required/></label>
            <label for="gb-register-zipcode"><span>Zip Code </span><input type="number" id="gb-register-zipcode" placeholder="12345" required/></label>
            <p class="gb-register-message"></p>
            <button type="submit">Submit</button>
        </form>

	</main>

	<% include ../partials/footer %>

</body>

</html>