<!DOCTYPE html>

<html lang="en">

<head>
	<% include ../partials/head %>
	<% include ../partials/checkauth %>

	<link rel="stylesheet" href="styles/page-search.css"/>

	<script src="scripts/page-search.js"></script>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz_3v5OTWVsVl58WEw7bDnDPQ0qtCySFw&callback=initMap"></script>

</head>

<body>

	<% include ../partials/header %>

	<main role="main">
		<h2>Find Grills</h2>

		<div>
			<h3>Your current location: </h3>
			<div id="gb-search-map"></div>
		</div>

		<form class="gb-grill-search">
			<button type="submit">Search</button>
		</form>

		<ul class="gb-grill-list"></ul>
	</main>

	<% include ../partials/footer %>

</body>

</html>